* {
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  body {
    background-color: #f1f4f7;
  }
  
  #container > div {
    margin-top: 100px;
    font-size: 24px;
    padding: 16px 0px 16px 24px;
    font-family: sans-serif;
  }
  #mine{
    margin-left: 300px;
  }
  #container > div ~ div {
    width: 30%;
    margin: auto;
  }
  
  h3 {
    font-size: 16px;
    padding: 20px 0px 8px;
    text-align: center;
    font-weight: 600;
  }
  #container p{
    text-align: center;
    color: #151b3999;
    font-size: 12px;
    margin-top: -15px;
  }
  a > button {
    /* display: block; */
    margin: auto;
    margin-left: 90px;
    background-color: #17a2b8;
    color: white;
    width: 60%;
    height: 45px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }
  img {
    padding-left: 60px;
    width:300px;
    height:200px;
    margin:auto;
  }
  
  #him {
    width: 40%;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 16px 16px;
  }
  #him > p {
    text-align: left;
    color: #151b3999;
    font-size: 14px;
  }
  span {
    color: #151b3999;
    font-weight: bold;
  }