/* .brands {
    
    width: 90%;
    display: flex;
    margin: 40% auto;
    border: 2px solid black;
}

.slide {
    border: 2px solid black;
    margin-left: 10px;
    background-color: #fff;
    height: 300px;
    margin: 20px;
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 12px;
    z-index: 0;

}

.brands>div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.brands>div button {
    width: 90%;
    display: block;
    margin: auto 5px;
    padding: 5px;
    cursor: pointer;
} */


/* 
.swiper-slide img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.swiper-slide button {
    width: 90%;
    display: block;
    margin: auto 5px;
    padding: 5px;
    cursor: pointer;
} */

/* .swiper-slide {
    text-align: left;
    font-size: 14px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} */

/* .swiper-slide {} */
.list,
.Tlist {
    width: 100%;
    height: auto;
    position: relative;
    margin: 10px 0 200px;
    /* background-color: rgb(101, 203, 203); */
    background: linear-gradient(to bottom, rgb(101, 203, 203)30%, transparent 70%);

}

.Tlist {
    background: linear-gradient(to bottom, rgb(223, 223, 26) 60%, #eee 70%)
}

.list h2,
.Tlist h2 {
    color: #fff;
    padding: 20px 10px;
    margin: 20px auto;
}

.trending_container {
    position: relative;
    width: 92%;
    padding-left: 10px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    /* border: 1px solid black; */
}

.trending_card {
    width: auto;
    /* border: 2px solid black; */
    margin-left: 10px;
    background-color: #fff;
    height: auto;
    margin: 20px;
    display: block;
    /* padding-left: 10px;
        padding-bottom: 10px; */
    border-radius: 12px;
    font-size: 12px;
    z-index: 0;
}

.trending_card .trending_images {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

.trending_card .trending_images img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 12px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.limited_time {
    position: relative;
    width: 92%;
    padding-left: 10px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    /* border: 1px solid black; */
}

.brands {
    position: relative;
    width: 92%;
    padding-left: 10px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    /* border: 1px solid black; */
}

.slide {
    width: 250px;
    /* border: 2px solid black; */
    margin-left: 10px;
    background-color: #fff;
    height: 400px;
    margin: 20px 35px;
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 12px;
    z-index: 0;
}

.trending_container::-webkit-scrollbar {
    display: none;
}

.limited_time::-webkit-scrollbar {
    display: none;
}

.brands::-webkit-scrollbar {
    display: none;
}

.slide_btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto 0 10px 0; */
    margin-left: -10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(101, 203, 203);
    color: #fff;
    font-size: 16px;
}

.limited_time>div img {
    width: 100%;
    height: 250px;
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}

.limited_time>div {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.brands>div img {
    width: 100%;
    height: 250px;
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}

.brands>div {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.pre-btn,
.nxt-btn {
    position: absolute;
    top: 180px;
    width: 4%;
    height: 15%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;

}

/* (pre and next button syntax ends here) */

.pre-btn {
    left: 0;
    background: linear-gradient(to top, transparent 20%, #eee 80%);
    border-radius: 50%;
}

.nxt-btn {
    right: 0;
    background: linear-gradient(to top, transparent 20%, #eee 80%);
    border-radius: 50%;
}

.pre-btn img,
.nxt-btn img {
    width: 15px;
    height: 20px;
    opacity: 0;
}

.pre-btn:hover,
.nxt-btn:hover {
    background: linear-gradient(to top, black 20%, #eee 80%);
    color: rgb(101, 203, 203);

}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.category {
    width: 100%;
    display: block;
    margin: 200px auto;
    /* background-color: rgb(237, 33, 125); */
    background: linear-gradient(to bottom, rgb(237, 33, 125)50%, #eee);
}

.category .category_header {
    width: auto;
    display: flex;
    margin: auto;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
}

.category .category_header p {
    margin-right: 15px;
}

.category .category_body {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
}

.category .category_body>div {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.category .category_body>div img {
    border-radius: 12px;
}

@media(max-width: 900px) {
    .category .category_body {
        width: auto;
        display: block;
        margin: auto;
    }

    .category .category_body>div {
        width: 200px;
        margin: 0 auto;
    }
}



.options {
    width: 100%;
    display: flex;
    margin: 50px auto;
    justify-content: space-evenly;
}

.options>a {

    text-decoration: none;
}

#optiondiv {
    width: 380px;
    height: 90px;
    display: flex;

    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#optiondiv>div:not(#strdiv) {
    padding: 20px 10px;
}

#strdiv>h3 {
    /* padding-top: -20px; */
    /* width: 80px; */
    margin-bottom: 2px;
    margin-top: 25px;
    margin-left: 13px;
    display: block;
    color: black;
}

#strspan {
    /* padding-top: 200px; */
    color: rgb(14, 144, 14);
    margin-left: 13px;
}

/* #stricon {
    font-size: small;
    margin-left: 120px;
    margin-bottom: 50px;
} */

#optiondiv img {
    width: 55px;
}



.payment {
    width: 100%;
    display: block;
    margin: -35px auto;
    /* border: solid black; */
}

.payment a {
    text-decoration: none;
    color: black;
}

#viewall {
    /* float: right; */
    font-size: 13px;
    color: palevioletred;
    /* border: 2px dashed black; */
    /* padding: auto 500px; */
}

.paydiv {
    display: flex;
    justify-content: space-evenly;
}

.payment h2 {
    float: inline-start;
    margin-right: 870px;
}

.some {
    width: 96%;
    display: flex;
    margin: auto;
    padding: 15px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

#payoptiondiv {
    width: 390px;
    height: 75px;
    display: flex;

    background-color: white;
    border-radius: 8px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#payoptiondiv img {
    width: 35px;
    margin: 20px;
    padding-right: 10px;
    border-right: 1px solid lightgray;
}

#paystrdiv {
    /* margin-top: 1px; */
    margin-left: -10px;
    text-align: left;
}

#paystrdiv h5 {
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: -8px;
    font-size: 14px;
}

#paystrdiv span {
    color: gray;
    font-size: 11px;
    text-align: left;
    line-height: -3px;
}


@media(max-width: 1250px) {
    #optiondiv {
        width: 250px;
    }

    .some h2 {
        width: 300px;
        /* border: 1px solid black; */
    }

    .payment>div {
        display: block;
        margin: -20px 25%;
    }

    #payoptiondiv {
        width: 320px;
        height: 100px;
        margin: 20px 0;
    }

    /* 
    .payment>div>div {
        margin: 20px 0;
    } */

}

@media(max-width: 800px) {
    .options {
        width: 100%;
        display: block;
        margin: 10% 33.3%;
    }

    #optiondiv {
        margin: 20px 0;
    }
}



.no_3 {
    width: 96%;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
}

.no_3 p {
    color: gray;
}

#no_3div1,
#no_3div2 {
    width: 50%;
    display: flex;
    margin: 30px 20px;
    justify-content: space-between;
}

#no_3div1 {
    border-right: 1.5px solid lightgray;
}

#no_3div2_1 button {
    width: 150px;
    padding: 10px;
    margin: 20px 2px;
    background-color: rgb(6, 191, 191);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 14px;
}

#no_3orderbtn {
    padding: 20px;
    margin: 20px -20px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: rgb(6, 191, 191);
    cursor: pointer;
}

#no_3orderbtnspan {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-size: 16px;
    background-color: rgb(6, 191, 191);
    border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
}

@media(max-width: 690px) {
    .no_3 {
        width: 100%;
        display: inline-block;
        margin: 0 20%;
    }

    #no_3div1 {
        border-right: none;
        border-bottom: 1.5px solid lightgray;
    }

    #no_3orderbtn,
    #no_3orderbtn2 {
        width: 100px;
    }
}

/*  */